#root {
  max-width: 1280px;
  margin: 0px;
  padding: 0.5rem 1.25rem;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-areas: 
  "header     switch"
  "header     search"
  "container container";
  grid-template-columns: 1fr 30%;
  gap: 10px;
}

:root {
  --color-bg: #111;
  --color-fg: #f8f8f8;
  --color-contrast: #434A54;
  --color-placeholder: #777;
}

@media(prefers-color-scheme: light) {
  :root {
    --color-bg: #f8f8f8;
    --color-fg: #111;
    --color-contrast: #656D78;
    --color-placeholder: #999;
  }
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.header {
  font-size: 3rem;
  grid-area: header;
  align-self: center;
}

.container {
  grid-area: container;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 40% auto;
  grid-template-areas:
  "currentWeather       ."
  "currentWeather       ."
  "fiveDay              fiveDay";
  align-content: left;
  margin-top: 24px;
}

.switch-container {
  grid-area: switch;
}

.currentWeather {
  grid-area: currentWeather;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "location"
  "currentContainer";
}

.location {
  grid-area: location;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 8px;
}


.weatherContainer {
  align-items: center;
  border: 1px #444 solid;
  border-radius: 6px;
  margin: 4px;
  padding: 12px;
  background-color: var(--color-contrast);
  font-size: 1.35rem;
  font-weight: normal;
}

.currentContainer {
  grid-area: currentContainer;
  display: grid;
  gap: 12px;
  grid-template-columns: 0.7fr 0.7fr 1.25fr;
  grid-template-areas: 
  "icon   temp    currenConditions";
}

.weatherIcon {
  grid-area: icon;
}

.tempValue {
  grid-area: temp;
  font-size: 2.5rem;
  margin-left: 24px;
}

.curentConditions {
  grid-area: currentConditions;
}

/*.searchContainer {*/
.searchForm {
  position: relative;
  display: inline-block;
}

.searchIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-bg);
  pointer-events: none;
}

.searchInput {
  grid-area: search;
  padding-left: 48px;
  border: 1px solid #ccc;
  background-color: var(--color-contrast);
  color: var(--color-fg);
  font-weight: bold;
  font-size: 1.15rem;
  border-radius: 5px;
  width: 86%;
  height: 30px;
}

.searchInput::placeholder {
  color: var(--color-placeholder);
}

.fiveDayForecast {
  grid-area: fiveDay;
  margin-top: 0.6rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.forecastsContainer {
  margin-top: 1.1rem;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.forecast {
  display: grid;
  grid-template-areas: 
  "date         date"
  "icon         temp"
  "conditions   conditions"
  "tempMinMax   tempMinMax";
  gap: 1.15rem;
}

.forecastDate {
  grid-area: date;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.forecastIcon {
  grid-area: icon;
  text-align: center;
}

.forecastTemp{
  grid-area: temp;
  font-size: 2.4rem;
  text-align: center;
}
.forecastConditions {
  grid-area: conditions;
  font-size: 1.1rem;
}

.tempMinMax {
  grid-area: tempMinMax;
}
