:root {
  --color-bg: #111;
  --color-fg: #f8f8f8;
  --color-contrast: #434A54;
}

@media(prefers-color-scheme: light) {
  :root {
    --color-bg: #f8f8f8;
    --color-fg: #111;
    --color-contrast: #656D78;
  }
}

.switch-container {
  display: inline-block;
  position: relative;
  justify-self: end;
  font-family: 'Arial';
  padding: 4px;
}

.switch-labels {
  display: flex;
  align-items: center;
}

.switch-label-left,.switch-label-right {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-fg);
}

.switch-label-left {
  margin: 0 8px 0 0;
}

.switch-label-right {
  margin: 0 0 0 5px;
}

.switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 52px;
  height: 16px;
  border-radius: 20px;
  border: 2px solid #818181;
  transition: background 0.9s ease-in-out;
}

.switch.unchecked {
  background: linear-gradient(to top, #828282, #d4d4d4);
}

.switch.checked {
  background: linear-gradient(to top, #3e70a2, #73a4d3);
  border: 2px solid #114422;
}

.switch-thumb {
  height: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  top: -4px;
  left: -6px;
  background: radial-gradient(#eeeeee, #cccccc, #828282);
  border-radius: 50%;
  border: 2px solid #919191;
  transition: transform 0.3s ease-in-out;
}

.switch.checked .switch-thumb {
  transform: translateX(38px);
}